<h1>{{ title }}</h1>
<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th (click)="sort('title')">
          Title
          <span *ngIf="sortKey === 'title'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="titleSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
        <th (click)="sort('year')">
          Year
          <span *ngIf="sortKey === 'year'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="yearSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
        <th (click)="sort('director')">
          Director
          <span *ngIf="sortKey === 'director'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="directorSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
        <th>
          Genre
          <div class="select-wrap">
            <select (change)="filterGenre($event)">
              <option value="">All</option>
              <option *ngFor="let genre of genres" [value]="genre">
                {{ genre }}
              </option>
            </select>
          </div>
        </th>
        <th (click)="sort('score')">
          Score
          <span *ngIf="sortKey === 'score'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="scoreSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let movie of filteredMovies
            | orderBy: sortKey:sortDirection
            | genreFilter: genreTerm
        "
      >
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.score }}</td>
      </tr>
    </tbody>
  </table>
  <div></div>
</div>
