<h1>{{ title }}</h1>
<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th>
          <button class="add-row-button" (click)="openModal()">
            <i class="fas fa-plus"></i>
          </button>
        </th>
        <th (click)="sort('title')">
          Title
          <span *ngIf="sortKey === 'title'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="titleSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
        <th (click)="sort('year')">
          Year
          <span *ngIf="sortKey === 'year'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="yearSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
        <th (click)="sort('director')">
          Director
          <span *ngIf="sortKey === 'director'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="directorSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
        <th>
          Genre
          <div class="select-wrap">
            <select (change)="filterGenre($event)">
              <option value="">All</option>
              <option *ngFor="let genre of genres" [value]="genre">
                {{ genre }}
              </option>
            </select>
          </div>
        </th>
        <th (click)="sort('score')">
          Score
          <span *ngIf="sortKey === 'score'">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-down': sortDirection === 'desc',
                'fa-sort-up': sortDirection === 'asc'
              }"
            ></i>
          </span>
          <div class="input-wrap">
            <input
              type="text"
              [(ngModel)]="scoreSearchTerm"
              placeholder="Search"
              (click)="$event.stopPropagation()"
            />
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let movie of filteredMovies
            | orderBy: sortKey:sortDirection
            | genreFilter: genreTerm;
          let i = index
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.score }}</td>
        <td class="trash-wrap">
          <i class="fas fa-trash-alt" (click)="removeMovie(movie)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div></div>
</div>

<app-modal
  [(isOpen)]="isModalOpen"
  [header]="'Add Movie'"
  (close)="isModalOpen = false"
>
  <div>Choose a Movie from our list</div>

  <select [(ngModel)]="selectedMovie">
    <option *ngFor="let movie of moreMovies" [ngValue]="movie">
      {{ movie.title }}
    </option>
  </select>
  <button (click)="addMovie()">Submit</button>

  <div>--- OR ---</div>
  <!-- form to add a custom Movie -->
  <div>Add a Custom Movie</div>
  <form #movieForm="ngForm" (ngSubmit)="onSubmit(movieForm)">
    <div>
      <label>Title:</label>
      <input type="text" name="title" ngModel required />
    </div>
    <div>
      <label>Year:</label>
      <input type="text" name="year" ngModel required />
    </div>
    <div>
      <label>Director:</label>
      <input type="text" name="director" ngModel required />
    </div>
    <div>
      <label>Genre:</label>
      <input type="text" name="genre" ngModel required />
    </div>
    <div>
      <label>Score:</label>
      <input type="text" name="score" ngModel required />
    </div>
    <button type="submit">Submit</button>
  </form>
</app-modal>
