/* Add application styles & imports to this file! */

thead {
  background-color: skyblue;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
}

/* tbody tr:nth-child(odd) {
  background-color: rgb(194, 211, 233);
} */

/* body {
  margin: 5%;
} */

h1 {
  text-align: -webkit-center;
}

table {
  border: solid;
  border-color: slategray;
  border-radius: 5px;
  width: 95%;
  max-width: 1100px;
}

td {
  padding: 5px;
}

.table-wrap {
  text-align: -webkit-center;
}

input {
  display: block;
}

select {
  display: block;
  width: -webkit-fill-available;
  font-size: inherit;
}

.input-wrap {
  text-align: -webkit-center;
  padding: 3px;
}
.select-wrap {
  text-align: -webkit-center;
  padding: 3px;
}
