/* Add application styles & imports to this file! */

thead {
  background-color: skyblue;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
}

/* tbody tr:nth-child(odd) {
  background-color: rgb(194, 211, 233);
} */

/* body {
  margin: 5%;
} */

h1 {
  text-align: -webkit-center;
}

table {
  border: solid;
  border-color: slategray;
  border-radius: 5px;
  width: 95%;
  max-width: 1100px;
}

td {
  padding: 5px;
}

.table-wrap {
  text-align: -webkit-center;
}

input {
  display: block;
}

.input-wrap {
  text-align: -webkit-center;
  padding: 3px;
}
.select-wrap {
  text-align: -webkit-center;
  padding: 3px;
}

.modal-divider {
  text-align: -webkit-center;
  margin: 10px;
}

.modal-error-text {
  color: red;
}

.input-caption {
  font-weight: bold;
  text-align: -webkit-center;
}

.modal-inputs {
  display: block;
  width: -webkit-fill-available;
  font-size: inherit;
}

.addmovie-modal label {
  font-style: italic;
}

.addmovie-modal button {
  margin: 5px 0;
  border-radius: 5px;
  border-width: thin;
}
.addmovie-modal button:enabled {
  background-color: skyblue;
}

.addmovie-modal button:hover:enabled {
  background-color: deepskyblue;
  cursor: pointer;
}
